@charset "UTF-8";
/*Reset*/
/* line 3, ../scss/_reset.scss */
html, body, div, span, applet, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 4, ../scss/_reset.scss */
html {
  line-height: 1; }

/* line 5, ../scss/_reset.scss */
ol, ul {
  list-style: none; }

/* line 6, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 7, ../scss/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 8, ../scss/_reset.scss */
q, blockquote {
  quotes: none; }

/* line 9, ../scss/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 10, ../scss/_reset.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

/* line 11, ../scss/_reset.scss */
a img {
  border: none; }

/* line 12, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/*tools*/
/* line 15, ../scss/_reset.scss */
.fix:after {
  display: block;
  content: "$";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

/* line 16, ../scss/_reset.scss */
ul.fix li {
  float: left; }

/* line 17, ../scss/_reset.scss */
.l {
  float: left; }

/* line 18, ../scss/_reset.scss */
.r {
  float: right; }

/* line 19, ../scss/_reset.scss */
.cell {
  display: table-cell;
  width: 2000px; }

/* line 8, ../scss/style.scss */
body {
  background: #f4f4f4;
  font-family: "黑体"; }

/* line 13, ../scss/style.scss */
.topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #623c91;
  z-index: 99; }
  /* line 21, ../scss/style.scss */
  .topBar a {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 29, ../scss/style.scss */
    .topBar a:before {
      content: '';
      width: 28px;
      height: 25px;
      background: url(../images/tabBar.png) no-repeat;
      background-position: 1px 1px;
      background-size: 58px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
    /* line 40, ../scss/style.scss */
    .topBar a:after {
      content: '';
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 10px solid #f4f4f4;
      right: 50%;
      bottom: 0;
      margin-right: -8px;
      display: none; }
    /* line 51, ../scss/style.scss */
    .topBar a:nth-of-type(1) {
      float: left;
      border-right: 1px solid #250053; }
    /* line 55, ../scss/style.scss */
    .topBar a:nth-of-type(1).active {
      color: #e7df4c; }
      /* line 57, ../scss/style.scss */
      .topBar a:nth-of-type(1).active:before {
        background-position: 1px -25px; }
      /* line 58, ../scss/style.scss */
      .topBar a:nth-of-type(1).active:after {
        display: block;
        border-bottom: 10px solid #8859C3; }
    /* line 64, ../scss/style.scss */
    .topBar a:nth-of-type(2) {
      float: right;
      border-left: 1px solid #9d75cf; }
      /* line 67, ../scss/style.scss */
      .topBar a:nth-of-type(2):before {
        background-position: -31px 1px; }
    /* line 71, ../scss/style.scss */
    .topBar a:nth-of-type(2).active {
      color: #e7df4c; }
      /* line 73, ../scss/style.scss */
      .topBar a:nth-of-type(2).active:before {
        background-position: -31px -25px; }
      /* line 74, ../scss/style.scss */
      .topBar a:nth-of-type(2).active:after {
        display: block; }

/* line 79, ../scss/style.scss */
.inviaTab {
  margin: 20px;
  height: 30px;
  line-height: 30px;
  position: relative; }
  /* line 86, ../scss/style.scss */
  .inviaTab div {
    position: absolute;
    width: 100%;
    padding-right: 70px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 91, ../scss/style.scss */
    .inviaTab div p {
      background: #8859c3;
      height: 30px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: inset -2px 3px 8px 2px #6a4597;
      -webkit-box-shadow: inset -2px 3px 8px 2px #6a4597;
      box-shadow: inset -2px 3px 8px 2px #6a4597; }
  /* line 98, ../scss/style.scss */
  .inviaTab .searchgl {
    position: absolute;
    width: 60px;
    height: 40px;
    right: 0;
    top: 0;
    background: url(../images/searbg.png) no-repeat;
    background-size: 50px;
    font-size: 12px; }
    /* line 106, ../scss/style.scss */
    .inviaTab .searchgl i {
      width: 34px;
      display: block;
      line-height: 13px;
      margin: 3px 0 0 7px; }
  /* line 113, ../scss/style.scss */
  .inviaTab a {
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #cdb9e6;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
    /* line 120, ../scss/style.scss */
    .inviaTab a.active {
      color: #623c91;
      height: 30px;
      background: #cdb9e6;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: inset -2px 3px 8px 2px #bda8d8;
      -webkit-box-shadow: inset -2px 3px 8px 2px #bda8d8;
      box-shadow: inset -2px 3px 8px 2px #bda8d8; }
    /* line 127, ../scss/style.scss */
    .inviaTab a:nth-of-type(1) {
      float: left; }
    /* line 128, ../scss/style.scss */
    .inviaTab a:nth-of-type(2) {
      float: right; }

/* line 133, ../scss/style.scss */
.fundUl, .assetUlaAll {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 135, ../scss/style.scss */
  .fundUl > li, .assetUlaAll > li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: -3px 3px 9px 0px #dcdcdc;
    -webkit-box-shadow: -3px 3px 9px 0px #dcdcdc;
    box-shadow: -3px 3px 9px 0px #dcdcdc;
    position: relative;
    margin: 0 15px 15px 15px; }
    /* line 143, ../scss/style.scss */
    .fundUl > li h2, .assetUlaAll > li h2 {
      text-align: center;
      border-bottom: 1px solid #D6D6D6;
      padding-bottom: 5px;
      margin-bottom: 5px;
      font-weight: bold; }
    /* line 150, ../scss/style.scss */
    .fundUl > li b, .assetUlaAll > li b {
      position: absolute;
      right: 0;
      bottom: 0;
      background: url(../images/rb_ico.png) no-repeat;
      background-size: 20px;
      width: 20px;
      height: 20px; }

/* line 161, ../scss/style.scss */
.listBom .name, .listBom .code {
  width: 50%;
  border-right: 1px solid #ccc;
  padding-left: 10px;
  padding-bottom: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 167, ../scss/style.scss */
  .listBom .name p, .listBom .code p {
    font-size: 14px;
    color: #a7a7a7;
    margin: 5px 0; }
/* line 172, ../scss/style.scss */
.listBom .fundMoney {
  color: #BB1D60;
  font-size: 18px;
  font-weight: bold; }
/* line 175, ../scss/style.scss */
.listBom .fundStyle {
  color: #623c91;
  font-size: 18px; }
/* line 178, ../scss/style.scss */
.listBom .code {
  border: none; }

/* line 181, ../scss/style.scss */
.myAssetDetails {
  position: relative;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 99; }
  /* line 187, ../scss/style.scss */
  .myAssetDetails b, .myAssetDetails i {
    position: absolute;
    background: url(../images/down.png) no-repeat;
    background-size: 151px;
    width: 150px;
    height: 31px;
    bottom: -30px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 0px;
    z-index: 66; }
    /* line 201, ../scss/style.scss */
    .myAssetDetails b:after, .myAssetDetails i:after {
      content: '';
      display: inline-block;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #E7DF4E;
      margin-left: 4px;
      margin-bottom: 2px; }
  /* line 211, ../scss/style.scss */
  .myAssetDetails i {
    visibility: hidden; }
    /* line 213, ../scss/style.scss */
    .myAssetDetails i:after {
      border-bottom: 7px solid #E7DF4E;
      border-top: none; }

/* line 216, ../scss/style.scss */
.AssetDetails {
  height: 80px;
  background: #8859C3;
  padding: 14px 0 30px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 222, ../scss/style.scss */
  .AssetDetails p {
    color: #fff;
    font-size: 20px; }
  /* line 223, ../scss/style.scss */
  .AssetDetails .asWord {
    font-size: 14px;
    margin-bottom: 10px; }
  /* line 227, ../scss/style.scss */
  .AssetDetails .allAsset {
    margin-left: 10px; }
  /* line 228, ../scss/style.scss */
  .AssetDetails .yestoday {
    margin-right: 10px; }

/* line 232, ../scss/style.scss */
.fundtype {
  padding: 10px 20px;
  height: 90px;
  background: #8859C3;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 239, ../scss/style.scss */
  .fundtype ul li {
    border: 2px solid #674097;
    background: #AB85DA;
    padding: 4px 8px;
    color: #643E93;
    font-size: 14px;
    float: left;
    margin: 0 0 10px 3px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px; }
  /* line 249, ../scss/style.scss */
  .fundtype ul li.active {
    background: #D7C7EC; }
  /* line 253, ../scss/style.scss */
  .fundtype:before {
    content: '';
    border-top: 1px solid #785B9D;
    height: 1px;
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%; }
  /* line 262, ../scss/style.scss */
  .fundtype:after {
    content: '';
    height: 1px;
    width: 90%;
    border-bottom: 1px solid #8B69B7;
    position: absolute;
    top: 0;
    left: 5%; }

/* line 274, ../scss/style.scss */
.assetListBg {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 1;
  display: none; }

/* line 284, ../scss/style.scss */
.assetList {
  padding-top: 40px; }
  /* line 286, ../scss/style.scss */
  .assetList .assetUlaAll {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 288, ../scss/style.scss */
    .assetList .assetUlaAll > li {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      background: #fff;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: -3px 3px 9px 0px #dcdcdc;
      -webkit-box-shadow: -3px 3px 9px 0px #dcdcdc;
      box-shadow: -3px 3px 9px 0px #dcdcdc;
      position: relative;
      margin: 0 15px 15px 15px; }
      /* line 296, ../scss/style.scss */
      .assetList .assetUlaAll > li .tit {
        position: relative;
        line-height: 21px; }
        /* line 299, ../scss/style.scss */
        .assetList .assetUlaAll > li .tit h2 {
          font-size: 16px; }
        /* line 300, ../scss/style.scss */
        .assetList .assetUlaAll > li .tit p {
          padding: 0 2px;
          position: absolute;
          top: 0;
          font-size: 14px;
          color: #fff;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px; }
        /* line 308, ../scss/style.scss */
        .assetList .assetUlaAll > li .tit .acssType {
          background: #8859C3;
          left: 2px; }
        /* line 309, ../scss/style.scss */
        .assetList .assetUlaAll > li .tit .acssFrom {
          background: #FFD800;
          right: 2px; }

/* line 314, ../scss/style.scss */
.assmyList {
  display: table;
  width: 100%; }
  /* line 317, ../scss/style.scss */
  .assmyList li {
    display: table-cell;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    padding: 0 6px; }
    /* line 319, ../scss/style.scss */
    .assmyList li .typeTit {
      font-size: 12px;
      margin: 5px 0 5px 0; }
    /* line 320, ../scss/style.scss */
    .assmyList li .typeMoney {
      font-size: 14px;
      font-weight: bold;
      color: #BB1D60; }
    /* line 324, ../scss/style.scss */
    .assmyList li:nth-of-type(1) {
      padding-left: 0; }
    /* line 327, ../scss/style.scss */
    .assmyList li:nth-of-type(3) {
      padding-right: 0;
      border: none; }

/* line 335, ../scss/style.scss */
.seeAboutjzTable {
  position: fixed;
  top: 48px;
  width: 100%; }

/*process CSS*/
/* line 344, ../scss/style.scss */
.processHead {
  background: #623F91;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px; }
  /* line 348, ../scss/style.scss */
  .processHead .processType {
    width: 100%;
    height: 52px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #370E62; }
    /* line 353, ../scss/style.scss */
    .processHead .processType li {
      width: 50%;
      float: left;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 357, ../scss/style.scss */
      .processHead .processType li:nth-of-type(1) {
        border-right: 1px solid #542F81;
        padding-left: 10px; }
      /* line 361, ../scss/style.scss */
      .processHead .processType li:nth-of-type(2) {
        border-left: 1px solid #7E58AF;
        padding-left: 20px; }
      /* line 365, ../scss/style.scss */
      .processHead .processType li .proName {
        font-size: 14px;
        color: #E5E1EC;
        margin: 5px 0 8px; }
      /* line 366, ../scss/style.scss */
      .processHead .processType li .proNum {
        font-size: 24px;
        color: #E7DF4E; }
  /* line 371, ../scss/style.scss */
  .processHead .processDetail {
    border-top: 1px solid #8E67BF;
    padding-top: 10px; }
    /* line 373, ../scss/style.scss */
    .processHead .processDetail li {
      display: inline-block;
      font-size: 14px;
      color: #D8D4D9;
      padding: 0 10px 10px; }
      /* line 378, ../scss/style.scss */
      .processHead .processDetail li:before {
        content: "";
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #8759C2;
        margin-right: 10px;
        display: inline-block; }

/* line 391, ../scss/style.scss */
.proStep {
  padding: 20px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  /* line 395, ../scss/style.scss */
  .proStep .stepLinear {
    position: absolute;
    width: 4px;
    height: 70%;
    margin: 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 126px;
    top: 2px;
    border-left: 4px solid #7746B7; }
  /* line 404, ../scss/style.scss */
  .proStep .fourStep {
    width: 100%;
    padding-left: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 408, ../scss/style.scss */
    .proStep .fourStep li {
      background: #7746B7;
      width: 100%;
      height: 60px;
      margin-bottom: 15px;
      padding: 10px;
      color: #EEE6F8;
      position: relative;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 418, ../scss/style.scss */
      .proStep .fourStep li p {
        margin-top: 10px;
        font-size: 14px; }
      /* line 422, ../scss/style.scss */
      .proStep .fourStep li:before {
        content: "";
        position: absolute;
        border-right: 10px solid #7746B7;
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        left: -10px;
        top: 10px; }
      /* line 431, ../scss/style.scss */
      .proStep .fourStep li:after {
        content: "";
        width: 32px;
        height: 31px;
        background: url(../images/step.png) no-repeat;
        background-size: 125px;
        position: absolute;
        right: 5px;
        top: 20px; }
      /* line 442, ../scss/style.scss */
      .proStep .fourStep li:nth-of-type(2):after {
        background-position: -65px 0px; }
      /* line 445, ../scss/style.scss */
      .proStep .fourStep li:nth-of-type(3):after {
        background-position: -30px 0px; }
      /* line 448, ../scss/style.scss */
      .proStep .fourStep li:nth-of-type(4):after {
        background-position: -100px 0px; }
      /* line 450, ../scss/style.scss */
      .proStep .fourStep li.active {
        color: #E7DF4E; }
        /* line 452, ../scss/style.scss */
        .proStep .fourStep li.active i {
          background: #984DF9; }
        /* line 454, ../scss/style.scss */
        .proStep .fourStep li.active:nth-of-type(1):after {
          background-position: 0px -32px; }
        /* line 455, ../scss/style.scss */
        .proStep .fourStep li.active:nth-of-type(1) i {
          background: #984DF9; }
        /* line 458, ../scss/style.scss */
        .proStep .fourStep li.active:nth-of-type(2):after {
          background-position: -65px -32px; }
        /* line 461, ../scss/style.scss */
        .proStep .fourStep li.active:nth-of-type(3):after {
          background-position: -30px -32px; }
        /* line 464, ../scss/style.scss */
        .proStep .fourStep li.active:nth-of-type(4):after {
          background-position: -100px -31px; }
      /* line 467, ../scss/style.scss */
      .proStep .fourStep li i {
        position: absolute;
        left: -40px;
        top: 0px;
        width: 18px;
        height: 18px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 4px solid #E9E17B;
        background: #fff; }

/* line 481, ../scss/style.scss */
.stepLeft {
  position: absolute;
  left: 10px;
  top: 20px; }
  /* line 485, ../scss/style.scss */
  .stepLeft li {
    width: 100px;
    height: 26px;
    line-height: 26px;
    background: #955ED9;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }

/*修改密码页面*/
/* line 499, ../scss/style.scss */
.bgThin {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 1; }

/* line 500, ../scss/style.scss */
.successTip {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 4;
  width: 230px;
  height: 140px;
  margin-left: -115px;
  margin-top: -70px;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  /* line 512, ../scss/style.scss */
  .successTip .ModyfyMsg {
    height: 50%;
    line-height: 70px;
    font-size: 18px;
    border-bottom: 1px solid #99999B;
    color: #99999B; }
  /* line 518, ../scss/style.scss */
  .successTip span {
    display: block;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    padding: 6px 0;
    background: #623C91;
    color: #E0C3FF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }

/* line 528, ../scss/style.scss */
.pwHeader {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  color: #E4DF4F;
  background: #623F93; }

/* line 537, ../scss/style.scss */
.pw_msg p {
  margin-top: 20px;
  position: relative; }
  /* line 540, ../scss/style.scss */
  .pw_msg p input {
    width: 100%;
    padding: 15px 0;
    border: none;
    border-top: 1px solid #C4C0CA;
    border-bottom: 1px solid #DAD4E3;
    padding-left: 100px;
    font-size: 16px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 551, ../scss/style.scss */
  .pw_msg p span {
    position: absolute;
    width: 85px;
    text-align: right;
    font-size: 18px;
    left: 0;
    top: 0;
    padding: 17px 0; }
/* line 560, ../scss/style.scss */
.pw_msg .subBtn {
  text-align: center;
  padding: 15px 0;
  background: #C6BDD0;
  font-size: 18px;
  margin: 20px 30px 0 30px;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
/* line 570, ../scss/style.scss */
.pw_msg .Success {
  background: #623C91; }

/*assetDetails HTML*/
/* line 576, ../scss/style.scss */
.adsHeader {
  background: #623c91; }
  /* line 578, ../scss/style.scss */
  .adsHeader .adsTit {
    text-align: center;
    padding: 15px 0;
    color: #E7DF4E;
    font-size: 18px;
    border-bottom: 1px solid #3C1367;
    position: relative; }
    /* line 585, ../scss/style.scss */
    .adsHeader .adsTit b {
      position: absolute;
      left: 0;
      top: 8px;
      background: url(../images/ico2.png) no-repeat;
      background-size: 15px;
      width: 20px;
      height: 17px;
      padding: 5px;
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    /* line 596, ../scss/style.scss */
    .adsHeader .adsTit span {
      padding-left: 10px; }
  /* line 598, ../scss/style.scss */
  .adsHeader .adsCon {
    border-top: 1px solid #7651A6; }
    /* line 600, ../scss/style.scss */
    .adsHeader .adsCon ul {
      display: table;
      width: 100%; }
      /* line 603, ../scss/style.scss */
      .adsHeader .adsCon ul li {
        display: table-cell;
        padding-left: 20px;
        color: #fff; }
        /* line 607, ../scss/style.scss */
        .adsHeader .adsCon ul li:nth-of-type(1) {
          border-right: 1px solid #714CA0; }
        /* line 608, ../scss/style.scss */
        .adsHeader .adsCon ul li:nth-of-type(2) {
          border-left: 1px solid #461E72; }
        /* line 609, ../scss/style.scss */
        .adsHeader .adsCon ul li dl {
          padding-top: 20px; }
          /* line 611, ../scss/style.scss */
          .adsHeader .adsCon ul li dl dt {
            font-size: 18px;
            margin-bottom: 5px; }
          /* line 614, ../scss/style.scss */
          .adsHeader .adsCon ul li dl dd {
            font-size: 14px; }
          /* line 617, ../scss/style.scss */
          .adsHeader .adsCon ul li dl:nth-of-type(2) {
            padding-bottom: 20px; }

/* line 624, ../scss/style.scss */
.adsList {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }
  /* line 627, ../scss/style.scss */
  .adsList .baseMsg {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: -2px 1px 2px 0px #dcdcdc;
    -webkit-box-shadow: -2px 1px 2px 0px #dcdcdc;
    box-shadow: -2px 1px 2px 0px #dcdcdc; }
    /* line 635, ../scss/style.scss */
    .adsList .baseMsg:nth-of-type(1) b {
      color: #BA1D60;
      font-weight: bold; }
    /* line 636, ../scss/style.scss */
    .adsList .baseMsg:nth-of-type(1) li:nth-last-child(1) {
      border: none; }
    /* line 640, ../scss/style.scss */
    .adsList .baseMsg:nth-of-type(2) {
      margin: 0; }
      /* line 642, ../scss/style.scss */
      .adsList .baseMsg:nth-of-type(2) b {
        color: #623F91;
        font-weight: bold; }
    /* line 644, ../scss/style.scss */
    .adsList .baseMsg li {
      border-bottom: 1px solid #EBEBEB;
      padding: 10px 0 8px 0;
      position: relative;
      text-align: right; }
      /* line 649, ../scss/style.scss */
      .adsList .baseMsg li p {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 40px;
        color: #A7A7A7; }
      /* line 656, ../scss/style.scss */
      .adsList .baseMsg li i {
        background: #623F91;
        padding: 4px 8px;
        display: inline-block;
        color: #E5DD4F;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }

/*活期乐 css*/
/* line 670, ../scss/style.scss */
.hqlHeader {
  background: #623F91; }
  /* line 672, ../scss/style.scss */
  .hqlHeader h2 {
    padding: 15px 30px;
    font-size: 18px;
    color: #E7DF4E;
    border-bottom: 1px solid #9270BD; }
    /* line 677, ../scss/style.scss */
    .hqlHeader h2 b {
      font-weight: bold;
      padding-right: 10px;
      font-size: 22px; }
  /* line 680, ../scss/style.scss */
  .hqlHeader .hqlType ul {
    width: 100%;
    display: table; }
    /* line 683, ../scss/style.scss */
    .hqlHeader .hqlType ul li {
      display: table-cell;
      padding: 15px 0;
      text-align: center;
      color: #DABCFF;
      font-size: 18px;
      position: relative; }
      /* line 690, ../scss/style.scss */
      .hqlHeader .hqlType ul li:before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: url(../images/hqlIco.png) no-repeat;
        background-size: 160px;
        margin: 0px auto; }
      /* line 700, ../scss/style.scss */
      .hqlHeader .hqlType ul li:nth-of-type(1):before {
        background-position: 2px 0; }
      /* line 703, ../scss/style.scss */
      .hqlHeader .hqlType ul li:nth-of-type(2):before {
        background-position: -43px 0; }
      /* line 706, ../scss/style.scss */
      .hqlHeader .hqlType ul li:nth-of-type(3):before {
        background-position: -81px 0; }
      /* line 709, ../scss/style.scss */
      .hqlHeader .hqlType ul li:nth-of-type(4):before {
        background-position: -120px 0; }
      /* line 711, ../scss/style.scss */
      .hqlHeader .hqlType ul li.active {
        color: #E7DF4E;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -moz-box-shadow: 4px 0px 6px -1px #43285E, -4px 0px 6px -1px #43285E;
        -webkit-box-shadow: 4px 0px 6px -1px #43285E, -4px 0px 6px -1px #43285E;
        box-shadow: 4px 0px 6px -1px #43285E, -4px 0px 6px -1px #43285E; }
      /* line 719, ../scss/style.scss */
      .hqlHeader .hqlType ul li.active:nth-of-type(1):before {
        background-position: 2px -45px; }
      /* line 724, ../scss/style.scss */
      .hqlHeader .hqlType ul li.active:nth-of-type(2):before {
        background-position: -43px -41px; }
      /* line 729, ../scss/style.scss */
      .hqlHeader .hqlType ul li.active:nth-of-type(3):before {
        background-position: -81px -44px; }
      /* line 733, ../scss/style.scss */
      .hqlHeader .hqlType ul li.active:nth-of-type(4) {
        -moz-box-shadow: -5px 0px 6px -1px #43285E;
        -webkit-box-shadow: -5px 0px 6px -1px #43285E;
        box-shadow: -5px 0px 6px -1px #43285E; }
        /* line 735, ../scss/style.scss */
        .hqlHeader .hqlType ul li.active:nth-of-type(4):before {
          background-position: -120px -42px; }

/* line 744, ../scss/style.scss */
.hqlCon {
  display: none; }
  /* line 747, ../scss/style.scss */
  .hqlCon .hqlList dl {
    border-bottom: 1px solid #C1C1C1; }
  /* line 750, ../scss/style.scss */
  .hqlCon .hqlList dt {
    width: 50%;
    float: left;
    border-right: 1px solid #C1C1C1;
    padding: 20px 20px 80px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 756, ../scss/style.scss */
    .hqlCon .hqlList dt i {
      font-style: italic;
      color: #5C5C5C;
      display: block;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      position: relative;
      margin-bottom: 10px; }
    /* line 766, ../scss/style.scss */
    .hqlCon .hqlList dt b {
      font-weight: bold;
      color: #623F91;
      font-size: 24px; }
      /* line 770, ../scss/style.scss */
      .hqlCon .hqlList dt b span {
        font-size: 18px; }
  /* line 776, ../scss/style.scss */
  .hqlCon .hqlList:nth-of-type(1) dt {
    background: url(../images/hql_22.png) no-repeat bottom right;
    background-size: 100px; }
    /* line 780, ../scss/style.scss */
    .hqlCon .hqlList:nth-of-type(1) dt i:nth-of-type(1):after {
      content: "";
      position: absolute;
      margin-left: 5px;
      background: url(../images/e.png) no-repeat right center;
      background-size: 20px;
      width: 22px;
      height: 20px; }
  /* line 793, ../scss/style.scss */
  .hqlCon .hqlList dd {
    width: 50%;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 797, ../scss/style.scss */
    .hqlCon .hqlList dd div {
      text-align: right;
      height: 76px;
      padding-right: 20px;
      border-bottom: 1px solid #C1C1C1;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 803, ../scss/style.scss */
      .hqlCon .hqlList dd div p {
        padding: 15px 0 5px;
        font-size: 16px;
        font-weight: bold;
        color: #5C5C5C; }
      /* line 809, ../scss/style.scss */
      .hqlCon .hqlList dd div b {
        font-size: 23px;
        color: #623F91;
        font-weight: bold; }
      /* line 814, ../scss/style.scss */
      .hqlCon .hqlList dd div span {
        font-size: 16px; }
  /* line 821, ../scss/style.scss */
  .hqlCon .hqlList:nth-of-type(2) dt {
    background: url(../images/hql_26.png) no-repeat bottom right;
    background-size: 68px; }

/* line 830, ../scss/style.scss */
.operatinButton {
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 833, ../scss/style.scss */
  .operatinButton p {
    width: 45%;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    /* line 841, ../scss/style.scss */
    .operatinButton p:nth-of-type(1) {
      background: #623F91; }
    /* line 844, ../scss/style.scss */
    .operatinButton p:nth-of-type(2) {
      background: #E2CBFF; }

/*history css*/
/* line 853, ../scss/style.scss */
html {
  min-height: 100%; }

/* line 856, ../scss/style.scss */
body {
  min-height: 100%; }

/* line 859, ../scss/style.scss */
.monthItem {
  color: #F8F8F8;
  font-size: 14px;
  width: 60px;
  position: relative;
  z-index: 555; }
  /* line 865, ../scss/style.scss */
  .monthItem p {
    background: #623F91;
    border-bottom: 1px solid #7E58AD;
    text-align: center;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 871, ../scss/style.scss */
    .monthItem p.active {
      color: #E7DF4E;
      font-size: 16px;
      font-weight: bold; }
      /* line 875, ../scss/style.scss */
      .monthItem p.active:after {
        content: "";
        border: 8px solid;
        border-color: transparent #F4F4F4 transparent transparent;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -4px; }

/* line 887, ../scss/style.scss */
.footSetp {
  width: 100%;
  padding-left: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: none; }
  /* line 895, ../scss/style.scss */
  .footSetp .line {
    height: 91%;
    border-right: 2px solid #9A50F8;
    right: 30px;
    top: 100px;
    position: absolute; }

/* line 903, ../scss/style.scss */
.scroller {
  padding-top: 80px; }

/* line 907, ../scss/style.scss */
.hisTab {
  position: absolute;
  top: 10px;
  right: 36px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px; }

/* line 915, ../scss/style.scss */
.monthStep {
  width: 100%;
  position: relative;
  padding-right: 60px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 920, ../scss/style.scss */
  .monthStep .stepList {
    background: #623F91;
    padding: 10px 5px;
    width: 100%;
    color: #E1C8FF;
    margin-top: 20px;
    text-align: center;
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 930, ../scss/style.scss */
    .monthStep .stepList:before {
      content: "";
      border: 8px solid #623F91;
      border-color: transparent transparent transparent #623F91;
      position: absolute;
      right: -15px;
      top: 20px; }
    /* line 938, ../scss/style.scss */
    .monthStep .stepList:after {
      content: "";
      position: absolute;
      right: -42px;
      top: 13px;
      width: 18px;
      height: 18px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 4px solid #E9E17B;
      background: #9A4CF9; }
    /* line 949, ../scss/style.scss */
    .monthStep .stepList p {
      line-height: 24px; }
    /* line 950, ../scss/style.scss */
    .monthStep .stepList h2 {
      background: #340764;
      width: 100px;
      margin: 5px auto 0;
      padding: 3px 6px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }

/* line 960, ../scss/style.scss */
.monthStepTop {
  text-align: right;
  background: url(../images/foot.png) no-repeat right center;
  background-size: 25px;
  padding-right: 50px;
  height: 40px;
  line-height: 40px;
  color: #5A378A;
  font-weight: bold;
  font-size: 18px;
  margin-right: 19px; }

/*jignzhi  css*/
/* line 976, ../scss/style.scss */
.jzHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5; }
  /* line 981, ../scss/style.scss */
  .jzHeader .jzTit {
    background: #623F92;
    padding: 15px 0;
    position: relative;
    color: #E7DF4E;
    font-size: 18px;
    text-align: center; }
    /* line 988, ../scss/style.scss */
    .jzHeader .jzTit b {
      position: absolute;
      right: 20px;
      top: 10px;
      background: url(../images/search.png) no-repeat;
      background-size: 20px;
      width: 20px;
      height: 20px;
      top: 13px; }
    /* line 998, ../scss/style.scss */
    .jzHeader .jzTit p {
      position: absolute;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      border: 1px solid #9C74CE;
      top: 12px;
      left: 10px;
      padding: 4px;
      font-size: 14px;
      color: #E2CBFF; }
      /* line 1007, ../scss/style.scss */
      .jzHeader .jzTit p:before {
        content: "";
        background: url(../images/sc.png) no-repeat;
        background-size: 14px;
        width: 14px;
        height: 13px;
        display: inline-block;
        padding-right: 3px; }
  /* line 1018, ../scss/style.scss */
  .jzHeader .jzType {
    background: #8859C3;
    padding: 10px 0;
    border-bottom: 1px solid #5E3B8E; }
    /* line 1022, ../scss/style.scss */
    .jzHeader .jzType ul {
      width: 100%; }
      /* line 1024, ../scss/style.scss */
      .jzHeader .jzType ul li {
        float: left;
        width: 15%;
        padding: 3px 1px;
        border: 2px solid #634092;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background: #AB85DA;
        text-align: center;
        color: #623F93;
        margin: 0 5px; }
      /* line 1035, ../scss/style.scss */
      .jzHeader .jzType ul li.active {
        background: #C3AAE3; }

/* line 1043, ../scss/style.scss */
.jzSearch .jzTit p:before {
  background: url(../images/back.png) no-repeat;
  background-size: 14px; }

/* line 1048, ../scss/style.scss */
.searchBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #8859C3;
  position: relative;
  border-bottom: 1px solid #5E3B8E; }
  /* line 1054, ../scss/style.scss */
  .searchBox input {
    background: #C3AAE3;
    width: 100%;
    padding: 5px 0;
    color: #623F93;
    padding-left: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 1063, ../scss/style.scss */
  .searchBox b {
    position: absolute;
    background: url(../images/s_07.png) no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 15px; }

/* line 1073, ../scss/style.scss */
.hideType {
  margin-top: 10px;
  display: none; }

/* line 1078, ../scss/style.scss */
.jzTable2 {
  position: fixed;
  top: 95px;
  left: 0;
  width: 100%; }
  /* line 1083, ../scss/style.scss */
  .jzTable2 tbody {
    visibility: hidden; }

/* line 1087, ../scss/style.scss */
.mainWarp {
  padding-top: 139px; }

/* line 1091, ../scss/style.scss */
.jzTable table {
  width: 100%; }
/* line 1092, ../scss/style.scss */
.jzTable th {
  text-align: center; }
/* line 1093, ../scss/style.scss */
.jzTable thead {
  background: #8859C3;
  margin: 3px 0; }
  /* line 1096, ../scss/style.scss */
  .jzTable thead th {
    padding: 15px 0;
    color: #E1DDDE;
    font-size: 14px;
    height: 30px;
    border-left: 1px solid #603895;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
/* line 1106, ../scss/style.scss */
.jzTable tbody tr:nth-of-type(even) {
  background: #F5F2F8; }
  /* line 1108, ../scss/style.scss */
  .jzTable tbody tr:nth-of-type(even) td {
    border-bottom: 1px solid #A5A4A6; }
/* line 1112, ../scss/style.scss */
.jzTable tbody td {
  padding: 10px 0;
  padding-left: 10px;
  border-bottom: 1px solid #DEDBE0; }

/* line 1121, ../scss/style.scss */
.star .ico:before {
  background: url(../images/jz_11.png) no-repeat;
  background-size: 15px; }

/* line 1126, ../scss/style.scss */
.ico:before {
  content: "";
  display: inline-block;
  background: url(../images/jz_14.png) no-repeat;
  background-size: 15px;
  width: 15px;
  height: 20px; }
/* line 1134, ../scss/style.scss */
.ico div {
  display: inline-block; }
  /* line 1136, ../scss/style.scss */
  .ico div p {
    font-size: 14px; }
  /* line 1137, ../scss/style.scss */
  .ico div b {
    font-size: 12px; }

/* line 1141, ../scss/style.scss */
.jzSz {
  background: #F0EFF1; }
  /* line 1143, ../scss/style.scss */
  .jzSz p {
    font-size: 16px;
    color: #494848; }
  /* line 1144, ../scss/style.scss */
  .jzSz b {
    font-size: 12px;
    color: #ACACAC; }

/* line 1147, ../scss/style.scss */
.dayupd {
  color: #BA1D60;
  font-weight: bold;
  background: #F0EFF1; }

/* line 1151, ../scss/style.scss */
.outerWrap {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1155, ../scss/style.scss */
.outerWrap, .mainWarp {
  position: relative; }

/* line 1158, ../scss/style.scss */
.seeAbout {
  background: #f0f2f1;
  position: absolute;
  z-index: 12;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 92px;
  font-family: "Microsoft YaHei"; }

/* line 1172, ../scss/style.scss */
.jzHeader .jzTit p.seeBack:before {
  content: "";
  width: 14px;
  height: 13px;
  display: inline-block;
  padding-right: 3px;
  background: url(../images/back.png) no-repeat;
  background-size: 14px; }

/* line 1183, ../scss/style.scss */
.seeAboutHead {
  left: 100%;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

/* line 1186, ../scss/style.scss */
.approveHeader {
  padding: 15px 0;
  background: #623C91;
  font-size: 18px;
  color: #E5DD4E;
  text-align: center; }

/* line 1193, ../scss/style.scss */
.blank {
  display: none;
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1197, ../scss/style.scss */
  .blank .bl_cardNum {
    position: relative; }
    /* line 1199, ../scss/style.scss */
    .blank .bl_cardNum input {
      width: 100%;
      height: 34px;
      line-height: 34px;
      border: 1px solid #E4E2E6;
      padding-left: 90px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 1208, ../scss/style.scss */
    .blank .bl_cardNum span {
      position: absolute;
      left: 20px;
      top: 9px;
      color: #B6B6B6; }
  /* line 1215, ../scss/style.scss */
  .blank .nextStep {
    margin-top: 20px;
    background: #623C91;
    text-align: center;
    height: 34px;
    line-height: 34px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  /* line 1224, ../scss/style.scss */
  .blank .problem {
    margin-top: 20px;
    height: 26px;
    line-height: 26px;
    padding-left: 20px;
    float: right;
    background: url(../images/problem.png) no-repeat left center;
    background-size: 18px;
    color: #AAA9AB;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px; }

/* line 1239, ../scss/style.scss */
.app_style .apsTit {
  padding: 40px 20px;
  border-bottom: 1px solid #DCD0EB;
  color: #674295;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
/* line 1248, ../scss/style.scss */
.app_style .apsCon {
  margin: 0 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1251, ../scss/style.scss */
  .app_style .apsCon ul {
    margin-top: 30px; }
    /* line 1253, ../scss/style.scss */
    .app_style .apsCon ul li {
      width: 100%;
      margin-bottom: 15px;
      height: 40px;
      line-height: 40px;
      background: #A06FDE;
      text-align: center;
      color: #fff;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px; }
      /* line 1262, ../scss/style.scss */
      .app_style .apsCon ul li i {
        content: "";
        width: 30px;
        height: 25px;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle; }
      /* line 1271, ../scss/style.scss */
      .app_style .apsCon ul li:nth-of-type(1) i {
        background: url(../images/jg.png) no-repeat;
        background-size: 30px; }
      /* line 1277, ../scss/style.scss */
      .app_style .apsCon ul li:nth-of-type(2) i {
        background: url(../images/buy.png) no-repeat;
        background-size: 30px; }
      /* line 1283, ../scss/style.scss */
      .app_style .apsCon ul li:nth-of-type(3) i {
        background: url(../images/date.png) no-repeat;
        background-size: 30px; }

/* line 1293, ../scss/style.scss */
.option_wrap {
  font-size: 16px;
  padding: 20px 0 20px 5px; }
  /* line 1295, ../scss/style.scss */
  .option_wrap p {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 10px;
    height: 20px;
    line-height: 20px;
    padding-left: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 1303, ../scss/style.scss */
    .option_wrap p span {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #f4f4f4;
      vertical-align: middle;
      margin-right: 8px;
      position: relative;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #C4C3C5; }
      /* line 1311, ../scss/style.scss */
      .option_wrap p span.active:before {
        content: " ";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 2px;
        top: 2px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #A06FDE; }

/* line 1328, ../scss/style.scss */
.sureoption {
  background: #623C91;
  text-align: center;
  height: 34px;
  line-height: 34px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1342, ../scss/style.scss */
.adsDate input {
  background: #623c91;
  color: #fff; }
/* line 1347, ../scss/style.scss */
.adsDate ul {
  width: 100%;
  display: table; }
/* line 1348, ../scss/style.scss */
.adsDate li {
  padding: 10px 0;
  display: table-cell; }
/* line 1352, ../scss/style.scss */
.adsDate .startDate, .adsDate .endDate {
  font-size: 14px;
  position: relative; }
  /* line 1355, ../scss/style.scss */
  .adsDate .startDate i, .adsDate .endDate i {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #A06FDE;
    top: 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  /* line 1363, ../scss/style.scss */
  .adsDate .startDate div, .adsDate .endDate div {
    color: #fff;
    display: inline-block;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
/* line 1370, ../scss/style.scss */
.adsDate .startDate {
  border-right: 1px solid #4C267B; }
  /* line 1372, ../scss/style.scss */
  .adsDate .startDate div {
    padding-left: 50px; }
  /* line 1373, ../scss/style.scss */
  .adsDate .startDate i {
    left: 10px; }
  /* line 1374, ../scss/style.scss */
  .adsDate .startDate i:before {
    content: "";
    background: url(../images/icoLeft.png) no-repeat;
    background-size: 15px;
    width: 15px;
    height: 10px;
    position: absolute;
    left: 6px;
    top: 10px; }
/* line 1385, ../scss/style.scss */
.adsDate .endDate {
  border-left: 1px solid #7750A7; }
  /* line 1387, ../scss/style.scss */
  .adsDate .endDate i {
    right: 10px; }
  /* line 1390, ../scss/style.scss */
  .adsDate .endDate div {
    padding-left: 20px; }
  /* line 1391, ../scss/style.scss */
  .adsDate .endDate i:before {
    content: "";
    background: url(../images/icoRight.png) no-repeat;
    background-size: 15px;
    width: 15px;
    height: 10px;
    position: absolute;
    left: 9px;
    top: 10px; }

/* line 1405, ../scss/style.scss */
.dateWarp .dataList {
  border-bottom: 2px solid #EAE7EC;
  font-size: 14px; }
  /* line 1408, ../scss/style.scss */
  .dateWarp .dataList h2 {
    text-align: center;
    font-size: 16px;
    color: #613B90;
    padding: 10px 0; }
  /* line 1414, ../scss/style.scss */
  .dateWarp .dataList .datetype {
    position: relative; }
    /* line 1416, ../scss/style.scss */
    .dateWarp .dataList .datetype p {
      position: absolute;
      width: 56px;
      left: 10px;
      padding: 4px;
      background: #A06FDE;
      color: #fff;
      text-align: center; }
    /* line 1425, ../scss/style.scss */
    .dateWarp .dataList .datetype div {
      width: 100%;
      padding-left: 80px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 1429, ../scss/style.scss */
      .dateWarp .dataList .datetype div ul {
        display: table;
        width: 100%; }
        /* line 1432, ../scss/style.scss */
        .dateWarp .dataList .datetype div ul li {
          display: table-cell;
          float: left;
          margin-right: 5px;
          min-width: 75px;
          background: #DFD3ED;
          color: #7859A1;
          text-align: center;
          margin-bottom: 5px;
          padding: 4px 0; }
          /* line 1442, ../scss/style.scss */
          .dateWarp .dataList .datetype div ul li.active {
            background: #A06FDE;
            color: #fff; }
  /* line 1450, ../scss/style.scss */
  .dateWarp .dataList:nth-of-type(3) {
    border-bottom: none; }

/* line 1464, ../scss/style.scss */
.pw_msg p.fix select {
  width: 100%;
  padding: 15px 0;
  padding-left: 110px;
  font-size: 16px;
  font-family: "黑体"; }

/* line 1473, ../scss/style.scss */
.read {
  font-size: 12px;
  text-align: center; }
  /* line 1476, ../scss/style.scss */
  .read a {
    color: #86BAF6; }

/* line 1480, ../scss/style.scss */
.pw_msg i {
  position: absolute;
  width: 80px;
  right: 5px;
  top: 8px;
  text-align: center;
  color: #71D1F9;
  font-size: 12px; }
  /* line 1488, ../scss/style.scss */
  .pw_msg i img {
    display: block;
    width: 80px; }

/* line 1497, ../scss/style.scss */
.modTit {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  color: #E9E14B;
  background: #623C91; }

/* line 1504, ../scss/style.scss */
.modInfo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px; }
  /* line 1507, ../scss/style.scss */
  .modInfo .modInfoList {
    border: 1px solid #E1DFE4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 19px 0; }
    /* line 1514, ../scss/style.scss */
    .modInfo .modInfoList p {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 16px;
      color: #714F9B; }
    /* line 1521, ../scss/style.scss */
    .modInfo .modInfoList i {
      background: url(../images/ico.png) no-repeat;
      background-size: 15px;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 10px; }
    /* line 1530, ../scss/style.scss */
    .modInfo .modInfoList b {
      position: absolute;
      right: 40px;
      top: 10px;
      color: #ccc; }

/* line 1540, ../scss/style.scss */
.modPhone {
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1543, ../scss/style.scss */
  .modPhone .baseMsg {
    color: #654092; }
    /* line 1545, ../scss/style.scss */
    .modPhone .baseMsg h2 {
      font-weight: bold;
      padding-bottom: 5px; }

/* line 1548, ../scss/style.scss */
.yzmInput {
  margin-top: 20px;
  position: relative; }
  /* line 1551, ../scss/style.scss */
  .yzmInput input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E2DFE7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px; }
  /* line 1560, ../scss/style.scss */
  .yzmInput b {
    position: absolute;
    right: 10px;
    top: 5px;
    background: #9D7BC7;
    padding: 6px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff; }

/* line 1571, ../scss/style.scss */
.modBtn {
  margin-top: 20px;
  text-align: center;
  background: #AA93C7;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1583, ../scss/style.scss */
.modPhoneNum {
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 1587, ../scss/style.scss */
.phoneNumList {
  position: relative; }
  /* line 1589, ../scss/style.scss */
  .phoneNumList input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E1DFE4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  /* line 1598, ../scss/style.scss */
  .phoneNumList span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 18px;
    color: #674496; }

/* line 1615, ../scss/style.scss */
.modReport {
  margin: 20px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1618, ../scss/style.scss */
  .modReport .modList {
    position: relative;
    margin-bottom: 20px;
    height: 40px; }
    /* line 1622, ../scss/style.scss */
    .modReport .modList span {
      position: absolute;
      left: 0px;
      top: 10px; }
    /* line 1626, ../scss/style.scss */
    .modReport .modList p {
      position: absolute;
      width: 100%;
      padding-left: 75px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 1631, ../scss/style.scss */
      .modReport .modList p input {
        width: 100%;
        padding: 10px 0;
        padding-left: 10px;
        border: 1px solid #E6E0EF;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }

/* line 1645, ../scss/style.scss */
#dzName {
  width: 56px;
  padding: 4px;
  background: #DFD3ED;
  color: #7E64B1;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px; }
  /* line 1653, ../scss/style.scss */
  #dzName.active {
    background: #A06FDE;
    color: #fff; }

/* line 1664, ../scss/style.scss */
.changeTit {
  padding: 25px 20px;
  border-bottom: 1px solid #B196D3;
  font-size: 18px;
  font-weight: bold;
  color: #623F91;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1672, ../scss/style.scss */
  .changeTit span {
    position: absolute;
    right: 10px;
    top: 18px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #A06FDE;
    text-align: center;
    padding-left: 10px;
    font-weight: normal;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    /* line 1685, ../scss/style.scss */
    .changeTit span:after {
      content: "";
      display: inline-block;
      margin-left: 5px;
      width: 20px;
      height: 17px;
      background: url(../images/ico2.png) no-repeat;
      background-size: 10px;
      vertical-align: middle; }

/* line 1699, ../scss/style.scss */
.cardList {
  border-top: 1px solid #FAF8FD; }
  /* line 1701, ../scss/style.scss */
  .cardList ul {
    width: 100%;
    padding: 20px 20px 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 1705, ../scss/style.scss */
    .cardList ul li {
      border: 1px solid #dadada;
      margin-bottom: 15px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #FEFFFE; }
      /* line 1710, ../scss/style.scss */
      .cardList ul li a {
        display: block;
        position: relative; }
        /* line 1714, ../scss/style.scss */
        .cardList ul li a p {
          max-width: 40px;
          border-right: 1px solid #E9E9E9;
          vertical-align: middle;
          padding: 15px; }
          /* line 1719, ../scss/style.scss */
          .cardList ul li a p img {
            width: 100%; }
        /* line 1723, ../scss/style.scss */
        .cardList ul li a div {
          width: 100%;
          position: absolute;
          padding-left: 80px;
          padding-right: 40px;
          top: 16px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          /* line 1730, ../scss/style.scss */
          .cardList ul li a div h2 {
            font-weight: bold;
            color: #000;
            margin-bottom: 10px; }
          /* line 1735, ../scss/style.scss */
          .cardList ul li a div span {
            color: #B2B2B2; }
        /* line 1739, ../scss/style.scss */
        .cardList ul li a b {
          position: absolute;
          width: 14px;
          height: 14px;
          background: #f4f4f4;
          vertical-align: middle;
          right: 10px;
          top: 30px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid #C4C3C5; }
          /* line 1747, ../scss/style.scss */
          .cardList ul li a b.active:before {
            content: " ";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            left: 2px;
            top: 2px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #A06FDE; }

/* line 1765, ../scss/style.scss */
.changeBtn {
  background: #623F91;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  margin: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* line 1776, ../scss/style.scss */
.uplist {
  margin: 20px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 1780, ../scss/style.scss */
  .uplist ul li {
    background: url(../images/ico1.png) no-repeat left center;
    background-size: 10px;
    padding-left: 20px;
    position: relative;
    height: 20px;
    margin-bottom: 15px; }
    /* line 1786, ../scss/style.scss */
    .uplist ul li div {
      position: relative;
      width: 150px;
      padding-left: 100px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      /* line 1791, ../scss/style.scss */
      .uplist ul li div i {
        position: absolute;
        left: 0;
        top: -2px; }
        /* line 1795, ../scss/style.scss */
        .uplist ul li div i input {
          width: 100%;
          opacity: 0; }

/* line 1808, ../scss/style.scss */
.file {
  position: relative;
  display: inline-block;
  background: #623F91;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  font-size: 12px;
  color: #fff; }

/* line 1822, ../scss/style.scss */
.file input {
  position: absolute;
  right: 0;
  top: -3px; }
