/*Reset*/
/* line 3, ../scss/_reset.scss */
html, body, div, span, applet, input, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 4, ../scss/_reset.scss */
html { line-height: 1; }

/* line 5, ../scss/_reset.scss */
ol, ul { list-style: none; }

/* line 6, ../scss/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 7, ../scss/_reset.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 8, ../scss/_reset.scss */
q, blockquote { quotes: none; }

/* line 9, ../scss/_reset.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 10, ../scss/_reset.scss */
a { text-decoration: none; -webkit-tap-highlight-color: transparent; }

/* line 11, ../scss/_reset.scss */
a img { border: none; }

/* line 12, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/*tools*/
/* line 15, ../scss/_reset.scss */
.fix:after { display: block; content: "$"; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* line 16, ../scss/_reset.scss */
ul.fix li { float: left; }

/* line 17, ../scss/_reset.scss */
.l { float: left; }

/* line 18, ../scss/_reset.scss */
.r { float: right; }

/* line 19, ../scss/_reset.scss */
.cell { display: table-cell; width: 2000px; }

/* line 9, ../scss/style.scss */
body { font-family: "Microsoft YaHei"; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #EBEBEB; }

/* line 15, ../scss/style.scss */
.isShow_approve { width: 100%; position: absolute; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 19, ../scss/style.scss */
.isShow_approve .onOff { margin: 20px 10px; padding-left: 10px; height: 50px; border: 1px solid #C8C8C8; line-height: 50px; position: relative; background: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 29, ../scss/style.scss */
.isShow_approve .onOff p { position: absolute; right: 10px; top: 12px; width: 45px; height: 25px; background: #E3E3E3; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; }
/* line 37, ../scss/style.scss */
.isShow_approve .onOff p span { position: absolute; width: 23px; height: 23px; left: 1px; top: 1px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; background: #fff; }

/* line 50, ../scss/style.scss */
.approveList { position: absolute; top: 80px; width: 100%; overflow: auto; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 58, ../scss/style.scss */
.approveList ul li { margin: 0px 10px; border: 1px solid #C8C8C8; position: relative; background: #fff; padding: 10px; margin-bottom: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 67, ../scss/style.scss */
.approveList ul li a { color: #666; display: block; position: relative; }
/* line 71, ../scss/style.scss */
.approveList ul li a i { content: ""; position: absolute; right: 0; bottom: 0; border-bottom: 10px solid red; border-left: 10px solid transparent; }
/* line 79, ../scss/style.scss */
.approveList ul li a .baseInfo { line-height: 1; }
/* line 81, ../scss/style.scss */
.approveList ul li a .baseInfo h2 { font-size: 16px; color: #000; display: inline-block; line-height: 1; }
/* line 87, ../scss/style.scss */
.approveList ul li a .baseInfo span { font-size: 12px; padding-left: 10px; }
/* line 89, ../scss/style.scss */
.approveList ul li a p { line-height: 1; font-size: 12px; padding-top: 8px; height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/* line 103, ../scss/style.scss */
#pullUp { font-weight: bold; font-size: 14px; color: #888; text-align: center; }

/* line 113, ../scss/style.scss */
.fast_track { position: fixed; bottom: -185px; width: 100%; background: #F2F2F2; padding: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: 0.5s; -o-transition: 0.5s; -webkit-transition: 0.5s; transition: 0.5s; }
/* line 121, ../scss/style.scss */
.fast_track textarea { width: 100%; padding: 5px; min-height: 100px; border: 1px solid #C1BFBF; outline: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 130, ../scss/style.scss */
.fast_track .fastBtn { margin-top: 15px; }
/* line 132, ../scss/style.scss */
.fast_track .fastBtn a { width: 40%; padding: 10px 0; text-align: center; color: #fff; font-size: 18px; font-family: "Microsoft YaHei"; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 140, ../scss/style.scss */
.fast_track .fastBtn a:nth-of-type(1) { background: #FC4E4E; }
/* line 143, ../scss/style.scss */
.fast_track .fastBtn a:nth-of-type(2) { background: #B7B7B7; }

/* line 154, ../scss/style.scss */
.noticeList { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; }
/* line 159, ../scss/style.scss */
.noticeList ul { padding: 15px; }
/* line 161, ../scss/style.scss */
.noticeList ul li { border-bottom: 2px solid #ccc; padding: 15px 0; }
/* line 164, ../scss/style.scss */
.noticeList ul li a { color: #666; }
/* line 166, ../scss/style.scss */
.noticeList ul li a .list_top { position: relative; }
/* line 168, ../scss/style.scss */
.noticeList ul li a .list_top p { padding-right: 64px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #000; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* line 176, ../scss/style.scss */
.noticeList ul li a .list_top span { position: absolute; font-size: 12px; right: 0; bottom: 1px; }
/* line 182, ../scss/style.scss */
.noticeList ul li a .list_detail { font-size: 12px; padding-top: 8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/* line 197, ../scss/style.scss */
.noticeDetail { margin: 0 20px; }
/* line 199, ../scss/style.scss */
.noticeDetail h2 { font-size: 18px; font-weight: bold; color: #000; text-align: center; padding: 20px 0; border-bottom: 1px solid #000; }
/* line 207, ../scss/style.scss */
.noticeDetail .nt_con { padding-top: 20px; }
/* line 209, ../scss/style.scss */
.noticeDetail .nt_con p { line-height: 24px; font-size: 14px; text-indent: 2em; }

/* line 218, ../scss/style.scss */
.name_time p { text-align: right; font-size: 14px; line-height: 24px; padding-right: 10px; }
